html, body {
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: helvetica;
    position: fixed;
}

#header {
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: #23272A;
    display: block;
    position: relative;

}
#header .right {
    right: 0px;
    top: 0px;
    height: 50px;
    text-align: center;
    padding: auto;
    position: absolute;
    line-height: 50px;
}
#header img {
    vertical-align: middle;
    position: relative;
    left: -10px;
}
#header .right a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 1.1pc;
    padding: 10px;
}
#header .right a:hover {
    color: #00a100;
}